.DS_Store
.svn
local.py
*.egg-info
.#*
\#*
*~
*.pyc
*.pyo
*.swo
ve
.coverage
htmlcov
log
*.log
.*.log
.*.log.*
*.pid
.*.pid
.*.swp
.sp-cache
.test.*stmts
build
dist
media
egg-cache
clientsecrets.json
foundation.min.css
index.html
