*.DS_Store
*.egg-info
.#*
\#*
*~
*.pyc
*.pyo
*.swo
ve
*orig
sstore
local.py
*/local.py
local_tests.py
.coverage
htmlcov
*.sqlite.db
log
*.log
.*.log
.*.log.*
*.pid
.*.pid
.*.swp
.sp-cache
.test.*stmts
*style-min.css
build
dist
egg-cache
*_deploy*
