TWITTER_OAUTH_TOKEN = "151..."
TWITTER_OAUTH_SECRET = "a7Ve..."
TWITTER_CONSUMER_KEY = "zH4r..."
TWITTER_CONSUMER_SECRET = "odWIq..."

GOOGLE_CLIENT_ID = "2793....apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "7M6c..."

GOOGLE_FOLDER_ID = '0B5Y...'
